// Components :: Side

.side {
  background-color: #fff;
  padding: $keyline-double;
  margin-right: $keyline;

  a {
    color: #0079d3;
  }

  .spacer {
    margin: $keyline-half 0 ($keyline-double + $keyline-half);
  }
}

.sidecontentbox {
  .content {
    border: none;
  }
}